<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Example of Loop</title>
</head>
<body>
	<h1>Going to traverse elements in collection...</h1>
	
	<!--  -->
	
	<h2 th:text="${names}"></h2>
	
	<ul>
		<li th:each="n : ${names}">
			<span th:text="${n}"></span>
		</li>
	</ul>
	
	<ul>
		<li th:each="n,status : ${names}">
		  <!-- try removing 1 after status.index -->
			<span th:text="${status.index + 1} + ' ' + ${n}"></span>
		</li>
	</ul>
	
	<!-- 
	
	index: the current iteration index, starting with 0(zero)
	count: the number of elements processed so far
	size: the total number of elements in the list
	even/odd: checks if the current iteration index is even or odd
	first: checks if the current iteration is the first one
	last: checks if the current iteration is the last one
	
	 -->
	
	<ul>
		<li th:each="n,status : ${names}">
		  <!-- it will give odd value in bold and red -->
			<span th:style="${status.odd}? 'font-weight:bold; color:red' : ' '"  th:text="${status.index + 1} + ' ' + ${n}"></span>
		</li>
	</ul>
	
	
	
</body>
</html>