<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	
	<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}"  />
</head>
<body>
	
	<div class = "container">
	
	<img src = "" th:src="@{/image/himage.jpg}" alt="" class="profile"/>
	
		<h1>Adding CSS, Javascript and Image in thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
		 Molestiae qui voluptate animi delectus doloremque tempore aperiam <br>
		  voluptas quae odio quas.
		  </p>
	
	</div>
	
	<script src="" th:src="@{/js/myjs.js}" ></script>
	
</body>
</html>