<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  <!-- add this line when using footer -->
<head>
	<meta charset="UTF-8" />
	<title>Footer Template</title>
</head>
<body>

<!--  so below we created a fragment name footer1 -->
	<footer id="fragmentTag" th:fragment="footer1(title,subtitle)">
		
		<div class = "container" >
			
			<h2 th:text="${title}"></h2>
			<h2 th:text="${subtitle}"></h2>
			<h2>About Learning Thymeleaf</h2>
			<h2>Provide Good content about Programming</h2>
			<h2>Feel free to contact and work with me</h2>
		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum facilis magnam error quidem eum nemo sequi laudantium necessitatibus excepturi ullam cum temporibus asperiores labore perferendis nam totam harum. Repellendus impedit.</p>
		</div>

	</footer>
</body>
</html>